[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lektor = {git = "https://github.com/lektor/lektor"}
lektor-atom = "*"
lektor-tags = "*"
lektor-slugify = "*"
lektor-webpack-support = "*"
lektor-disqus-comments = "*"
lektor-markdown-header-anchors = "*"
lektor-markdown-highlighter = "*"
lektor-markdown-admonition = "*"
lektor-project-data = {editable = true, path = "./plugins/project-data"}
lektor-markdown-link-classes = {editable = true, path = "./plugins/markdown-link-classes"}
lektor-blog-archive = {editable = true, path = "./plugins/blog-archive"}

[dev-packages]

[requires]
python_version = "3.9"
