[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lektor = {git = "https://github.com/lektor/lektor"}
lektor-atom = "*"
lektor-tags = "*"
lektor-slugify = "*"
lektor-webpack-support = "*"
lektor-disqus-comments = "*"
lektor-markdown-header-anchors = "*"
lektor-markdown-highlighter = "*"
lektor-markdown-admonition = "*"

[dev-packages]

[requires]
python_version = "3.9"
