{% extends "layout.html" %}
{% block title %}{{ this.title }} | The Transcript{% endblock %}
{% from 'macros/blocksupport.html' import render_full_width_blocks %}
{% block outerbody %}
  <div class="blog-post">
    {% call render_full_width_blocks(this.body.blocks) %}
      <div class="meta-bar">
        <h1>{{ this.title }}</h1>
        <p class="meta">
          by
          {% if this.twitter_handle %}
            <a href="https://twitter.com/{{ this.twitter_handle }}">{{
              this.author or this.twitter_handle }}</a>
          {% else %}
            {{ this.author }}
          {% endif %}
          on {{ this.pub_date|dateformat('full') }}
        </p>
      </div>
    {% endcall %}

    {% set siblings = this.get_siblings() %}
    {% set older = siblings.next_page %}
    {% set newer = siblings.prev_page %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
        {% if older %}
          <div class="nav-prev">
            <a href="{{ older|url }}">Previous: {{ older.title }}</a>
          </div>
        {% endif %}
        {% if newer %}
          <div class="nav-next">
            <a href="{{ newer|url }}">Next: {{ newer.title }}</a>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
