{% extends "blog-layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}The Transcript{% endblock %}
  {% block blog_body %}
  <h1>The Transcript</h1>
  {% for post in this.pagination.items %}
  <div class="blog-snippet">
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
    <p class="summary">
      {{ post.summary }}
      <a class="more" href="{{ post|url }}">Read more …</a>
    <p class="meta">
      by
      {% if post.twitter_handle %}
        <a href="https://twitter.com/{{ post.twitter_handle }}">{{
          post.author or post.twitter_handle }}</a>
      {% else %}
        {{ post.author }}
      {% endif %}
      on {{ post.pub_date|dateformat }}
    </p>
  </div>
  {% endfor %}

  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
{% endblock %}
