{% extends "layout.html" %}
{% block title %}The Transcript{% endblock %}
{% block outerbody %}
  {% set image = site.get('/blog').attachments.images.first() %}
  {% if image %}
    <div class="page-banner page-banner-300" style="background-image: url({{ image|url }})"></div>
  {% endif %}
  {{ super() }}
{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-sm-8">
      {% block blog_body %}{% endblock %}
    </div>
    <div class="col-sm-4">
      <h3>About This Blog</h3>
      <p>
        “The Transcript” is the blog about <a href="{{ '/'|url
        }}">Lektor</a>, a new solution in static content management.
      <p>
        Subscribe for the latest news about Lektor as well as content
        management and web development.
      <ul>
        <li><a href="{{ '@atom/transcript'|url }}">RSS Feed</a></li>
        <li><a href="https://twitter.com/getlektor">Follow us on Twitter</a></li>
      </ul>
      <h3>Missed a Post?</h3>
      <ul>
        <li><a href="{{ '@blog-archive'|url }}">Blog Archives</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
